{% extends 'portfolio/base.html' %}
{% load static %}

{% block content %}

<!-- アニメーション部分 -->
      <div class="jumbotron">
            <div class="container">
                <div class="row text-center" >
                    <div class="box" >
                        {% include 'portfolio/anime.html' %}
                        <div class="text" >
                            <h1>welcome to my Portfolio!</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>


<!-- メイン -->
    <div id="about">
        <h2 class="about">About</h2>
    </div>
       <div class="container">
       
             <div class="box001">
                <div class="row text-center">
                    <div class="col-md-4 col-xs-12">
                        <img src="{% static 'img/kao.png' %}" class="foto">
                    </div>
                    <div class="col-md-8 col-xs-12">
                        <div class="list" >
                            <ul>
                                <li>氏名:　なん</li>
                                <li>出身：　東京、千葉、ドイツ</li>
                                <li>学歴：　多摩美術大学院 絵画学科 版画専攻、メディアアーツ尚美専門学校
                                <li>志：
                                    「モノを生み出す努力」「創造し続ける忍耐力」「事実に元づく想像」
                                <br>
                                    お客様が求めているご要望にお応えする努力を惜しまず、楽しく。
                            
                                </li>
                                <li>好きな事：　多肉植物栽培、散歩、自由に踊る、キャンプ、版画</li>
                                <li>
                                    
                                    <p>Blog：
                                    <a class="btn02" href="https://kitztzki.com" >
                                    キツツキブログ
                                    </a></p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
          </div>   
        </div> 
    </div>       
        <br>
        <br>
        <br>
         <div id="skills">
             <h2 class="box01">Skills</h2> 
         </div>  
          <div class="container">
                 <div class="col-sm-6 col-md-4">
                        <!--アイコンサイト： https://www.w3schools.com/bootstrap/bootstrap_ref_comp_glyphs.asp -->
                     <div class="box2">
                        <h3 class="color-talk"><i class="fas fa-wrench icon-size"></i>ツール</h3>
                        <p>HTML 　　■■■■</p>
                        <p>CSS　　■■■</p>
                        <p>Python（Django）　　■■</p>
                        <p>anime.js　　■</p>
                        <p>Photoshop　　■■■■</p>
                        <p>Backlog、Slack、Chatwork</p>
                     </div>
                 </div>
          
                 <div class="col-sm-6 col-md-4">
                     <div class="box3">
                        <h3 class="color-wrench"><i class="fas fa-laptop-code icon-size"></i></span>作る</h3>
                        <p>Webページコーディング</p>
                         <p>コンタクトフォーム実装</p>
                         <p>Webバナー＆サイトデザイン</p>
                         <p>イラスト</p>
                         <p></p>
                     </div>
                 </div>
                 <div class="col-sm-6 col-md-4">
                      <div class="box4">
                        <h3 class="color-pencil"><i class="fas fa-pencil-alt icon-size"></i></span>勉強</h3>
                        <p>Python</p>
                        <p>スクレイピング　API</p>
                        <p>Swift</p>
                        <p>アニメーション</p>
                        <p>AWS</p>
                     </div>
                </div>
         </div>
            
        <div class="sakuhin" id="works">
            <h2 class="box02">Works</h2>
             <div class="container">
                    
                        <div class="col-sm-6 col-md-4">
                            <div class="box5">
                                <a class="btn" href="{% static 'img/haseblo.png'%}" data-lightbox="haseblo" >
                                    <h3>Webサイト（実務）</h3>
                                    <p>活動内容ページ担当</p>
                                    <p>ハセブロ公式Webサイト制作</p>
                                    <img src="{% static 'img/haseblo.png' %}"width="270" height="170">
                                </a>
                            </div>
                    </div> 
                        <div class="col-sm-6 col-md-4">
                                <div class="box5">
                                    <a class ="btn" href="https://german-sprach-1c133.web.app/" >
                                    <h3>Webサイト</h3>
                                    <p>（css template使用）</p>
                                    <p>ドイツ語会話学習</p>
                                    <img src="{% static 'img/german.png' %}"width="290" height="170">
                                    </a>
                                </div>
                        </div>  
                            <div class="col-sm-6 col-md-4">
                                <div class="box5">
                                    <a class ="btn" href="https://cosme-31a02.web.app/" >
                                        <h3>Webサイト</h3>
                                        <p>（css template使用）</p>
                                        <p>スキンケア商品</p>
                                        <img src="{% static 'img/image02.png' %}"width="290" height="170">
                                    </a>
                            </div>
                        </div>  


                        <div class="col-sm-6 col-md-4">
                            <div class="box5">
                                <a class="btn" href="{% static 'img/tensorflow01.png' %}" data-lightbox="tensorflow" >
                                    <h3>APIで画像取得</h3>
                                    <p>ファイルに振り分け</p>
                                    <p></p>
                                    <img src="{% static 'img/tensorflow01.png' %}"width="270" height="170">
                                </a>
                                <a href="{% static 'img/tensorflow02.png' %}" data-lightbox="tensorflow"></a>
                                <a href="{% static 'img/tensorflow03.png' %}" data-lightbox="tensorflow"></a>
                            </div>
                     </div> 
                        <div class="col-sm-6 col-md-4">
                                <div class="box5">
                                    <a class ="btn" href="{% static 'img/NumPy01.png' %}"data-lightbox="numpy" >
                                    <h3>NumPy配列に変換</h3>
                                    <p>jupyter　Notebook</p>
                                    <p class="moji">ライブラリー：pillow, sklearn</p>
                                    <img src="{% static 'img/NumPy01.png' %}"width="270" height="170">
                                    </a>
                                    <a href="{% static 'img/NumPy02.png' %}" data-lightbox="numpy"></a>
                                </div>
                        </div>  
                            <div class="col-sm-6 col-md-4">
                                <div class="box5">
                                    <a class ="btn" href="{% static 'img/js01.png' %}"data-lightbox="js" >
                                        <h3>Javascript</h3>
                                        <p>おみくじ</p>
                                        <p class="moji">クリックでランダムに結果が表示</p>
                                        <img src="{% static 'img/js01.png' %}"width="270" height="170">
                                    </a>
                                    <a href="{% static 'img/omikuji.png' %}" data-lightbox="js"></a>
                                </div>
                            </div>
                       





                        
                        <div class="col-sm-6 col-md-4">
                            <div class="box6">
                                <a class="btn" href="{% static 'img/image05.jpg'%}" data-lightbox="group">
                                    <h3>LP&バナーデザイン</h3>
                                    <p class="moji">（Photoshop, Illustrator使用）</p>
                                    <p>自然派化粧品</p>
                                    <img src="{% static 'img/image07.jpg' %}" width="290" height="250">
                                </a>   
                            </div> 
                        </div>   
                        <div class="col-sm-6 col-md-4">
                                <div class="box6">
                                    <a class="btn"  href="{% static 'img/LP German Sprach.jpg' %}" data-lightbox="group">
                                    <h3>LP＆バナーデザイン</h3>
                                    <p class="moji">（Photoshop, Illustrator使用）</p>
                                    <p>ドイツ語会話</p>
                                    <img src="{% static 'img/image08.jpg' %}" width="300" height="250">
                                </a>
                                </div>
                        </div>           
                        <div class="col-sm-6 col-md-4">
                            <div class="box6">
                                <a  class="btn" href="https://atsuko-minami.jimdofree.com/" >
                                <h3>版画・絵画作品</h3>
                                <p>木版画・リトグラフ</p>
                                <p>アクリル画・水彩画</p>
                                <img src="{% static 'img/image06.jpg' %}"width="300" height="180">
                                </a>
                            </div>
                        </div>                
                        
              </div>

              

{% endblock content %}