@charset "UFT-8";


anime{
    
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

/* main .content{
    position: relative;
    margin: 0 auto;
    display: inline-block;
    text-align: center;
    width: 100px;
    height: 30px;
    
} */

/* #logo {
position: absolute;
} */


path {
fill: none; /*塗り*/
stroke: rgb(48, 28, 121); /*線の色*/
stroke-dasharray: 2000;/*線の間隔*/
stroke-dashoffset: 1000;/*線の開始位置*/
stroke-width: 0.5;/*線の太さ*/
animation: write 3s ease-in forwards;
/* animation: dash 5s linear forwards; */
-webkit-animation: write 2s ease-in forwards;

}


@keyframes write {
0% {
stroke-dashoffset: 2000;
fill:transparent;
}
50% {
fill:transparent;
}
100% {
stroke-dashoffset: 0;
fill: rgb(48, 28, 121);
}
}

@-webkit-keyframes write {
0% {
stroke-dashoffset: 2000;
fill:transparent;
}
50% {
fill:transparent;
}
100% {
stroke-dashoffset: 0;
fill:rgb(30, 32, 100);
}
}
