@charset "UFT-8";

body { 
     margin: 0px;
     padding-top: 100px; 
     background-color: #333c5f;
     width: 100%;
     -webkit-text-size-adjust: 100%;
    }



footer{
    width: 100%;
    background-color: green;
    background-size: auto;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    left: 0;
    position: absolute;/*←絶対位置*/
    bottom: 0; /*下に固定*/
}

